
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progressBlue" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progressBlue + '%'" ></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progressGreen" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progressGreen + '%'" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser text="blue progress" [progress]="progressBlue" (valueChange)="progressBlue = $event"></app-increaser>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser text="green progress" [progress]="progressGreen" (valueChange)="progressGreen = $event"></app-increaser>
            </div>
        </div>
    </div>

</div>


